# App
HOST=0.0.0.0
PORT=8080

# OpenAI API
OPENAI_API_KEY=openai_****************************

# Resend Email API
RESEND_API_KEY=resend_********************************
RESEND_FROM=updates@updates.timsiwula.com

# Recipients to email
EMAIL_RECIPIENTS="siwulactim@gmail.com,cpliang.doris@gmail.com"

# Geoapify API Key
GEOAPIFY_API_KEY=your_api_key
