# App
HOST=127.0.0.1
PORT=8080

# OpenAI API Key
OPENAI_API_KEY=openai_****************************

# Resend Email API
RESEND_API_KEY=re_********************************
RESEND_FROM=you@yourdomain.com

# Geoapify API Key
GEOAPIFY_API_KEY=your_api_key
